.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  grid-gap: 10px;
  background-color: white;
  text-align: center;
  padding: 10px;
}

.item {
  background-color: red;
  padding: 10px;
}

