@import '@/styles/theme.sass'

.container
  min-height: calc(100vh - $global-padding - 10px)
  display: grid
  grid-template-rows: auto 1fr auto
  grid-template-columns: 100%
  grid-gap: 10px
  background-color: $background
  text-align: center
  padding: $global-padding
  color: #497174

.item
  display: flex
  justify-content: center
  padding: $global-padding

.header
  display: flex
  flex-direction: column

.card
  padding: $global-padding
  height: 200px
  width: 400px
  background: $dark-blue
  border-radius: $global-radius

.timerNav
  display: flex
  flex-direction: row
  justify-content: space-evenly

.btn
  border: 0px
  min-width: 100px
  background: $cyan
  color: $background
  border-radius: $global-radius
  padding: $btn-padding

.timer
  padding: $global-padding

.footer
  width: 100vw
  border-top: solid 1px $dark-blue
  padding: $global-padding
