@import '@/styles/theme.sass'

.container
  min-height: calc(100vh - $global-padding - 10px)
  display: grid
  grid-template-rows: auto 1fr auto
  grid-template-columns: 100%
  grid-gap: 10px
  background-color: $background
  text-align: center
  padding: $global-padding

.item
  display: flex
  justify-content: center
  padding: $global-padding

.header
  display: flex
  flex-direction: column
  align-items: center

.sitename
  margin-top: 0rem

.timerText
  font-size: 5rem
  margin: 1.38rem 0 1.38rem
  font-family: 'Metropolis-Bold', sans-serif
  line-height: 1.3
  color: $red

.card
  padding: calc($global-padding * 2)
  height: fit-content
  width: fit-content
  background: $dark-blue
  border-radius: calc($global-radius * 2)

.timerNav
  display: flex
  flex-direction: row
  justify-content: space-evenly

.btn
  border: 1px solid $cyan
  margin: 5px
  min-width: 100px
  background: $cyan
  color: white
  border-radius: $global-radius
  padding: $btn-padding

.btnOutline
  border: 1px solid $cyan
  margin: 5px
  min-width: 100px
  color: $cyan
  border-radius: $global-radius
  padding: $btn-padding

.timer
  padding: $global-padding
  font-size: 2.5em
  margin: 0

.footer
  width: 100vw
  border-top: solid 1px $dark-blue
  padding: $global-padding
