.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  grid-gap: 10px;
  background-color: #D6E4E5;
  text-align: center;
  padding: 10px;
  color: #497174;
}

.item {
  display: flex;
  justify-content: center;
  padding: 10px;
  border: solid 1px #497174;
}

.header {
  display: flex;
  flex-direction: column;
}

.card {
  height: 200px;
  width: 400px;
  border: solid 1px #497174;
}
