$global-radius: 5px
$global-padding: 10px

.container
  min-height: 100vh
  display: grid
  grid-template-rows: auto 1fr auto
  grid-template-columns: 100%
  grid-gap: 10px
  background-color: #D6E4E5
  text-align: center
  padding: $global-padding
  color: #497174

.item
  display: flex
  justify-content: center
  padding: $global-padding

.header
  display: flex
  flex-direction: column

.card
  padding: $global-padding
  height: 200px
  width: 400px
  border: solid 1px #497174
  border-radius: $global-radius

.timerNav
  display: flex
  flex-direction: row
  justify-content: space-evenly

.btn
  border-radius: $global-radius
